{% extends 'base.html' %}
{% block content %}
{% load static %}
<style>
    body {
  font-family: 'Brush Script MT', cursive;
  }
    h1 { font-size:xx-large;
    }

</style>
          <figure class="container image is-128x128">
        <img
          class="is-rounded"
          src="https://media-exp1.licdn.com/dms/image/C5603AQGPaUtH3xs6xg/profile-displayphoto-shrink_800_800/0/1620464944932?e=1633564800&v=beta&t=F-_QRBOYaeAML5CYu7xxQd-75AJQeOLEoCbYCbbE8l4"
        />

      </figure>
<div class="row d-flex flex-sm-row-reverse justify-content-center my-auto text-center">
<h1 class="hero-title">Jakob Johansson</h1>
</div>

<section class="hero row d-flex justify-content-center page-80">





<div class="col-md">
<div class="text-center justify-content-center p-5">



</section>

{% endblock %}