{% extends 'base.html' %}
{% load static %}
{% block content %}

<section class="section has-text-centered">
      <figure class="image container is-128x128">
        <img
          class="is-rounded"
          src="https://media-exp1.licdn.com/dms/image/C5603AQGPaUtH3xs6xg/profile-displayphoto-shrink_800_800/0/1620464944932?e=1633564800&v=beta&t=F-_QRBOYaeAML5CYu7xxQd-75AJQeOLEoCbYCbbE8l4"
        />
      </figure>

      <p class="title">Jakob Johansson</p>
      <p class="subtitle">DevOps Student</p>
      <a
        class="button is-outlined is-rounded is-info is-medium"
        href=https://www.linkedin.com/in/jakob-johansson-a3214680/
      >
        <i class="fab fa-linkedin-in"> </i
      ></a>
      <a
        class="button is-outlined is-rounded is-dark is-medium"
        href="https://github.com/amfchef"
        ><i class="fab fa-github"> </i>
      </a>
      <a
        class="button is-outlined is-rounded is-link is-medium"
        href="https://www.trading-bot.dev/"
        ><i class="fa-solid fa-bitcoin-sign"></i> Crypto trading bot </i>
      </a>

</section>

<div class="tile">
      <div class="tile is-vertical is-20 is-parent">
        <div class="tile">
          <div class="tile is-parent is-vertical is-8">
            <article class="tile is-child notification has-background-light">
              <p class="is-size-4"><b>Presentation</b></p>
              <p class="is-size-6">
                I have a great interest in IT, with focus for DevOps methodology.
                I am undertaking a two year DevOps study in a Vocational University,
                EC utbildning. During my spare time, I am undertaking extra courses
                from universities and online, to develop my skills and gain knowledge
                in subjects of my interests, like Docker, Cloud computing,
                web programming and automation frameworks.

              </p>
              <p class="is-size-4"><b>Education</b></p>
              <div class="content">

                <ul class="is-size-6">
                  <li><a
                    href="http://www.ecutbildning.se/utbildningskoncept/devops-utvecklare/"
                    >DevOps - EC utbildning -2 years full study - Graduating june 2022</a
                  >  </li>

                  <li><a href="http://utb.hig.se/fafne/app/public/pdf/course.pdf?identifier=DVG002"
                    >Programming methodology -  computer science </a> - 7.5 credits </li>

                  <li><a href="http://utb.hig.se/fafne/app/public/pdf/course.pdf?identifier=DVG009"
                    >Computer systems - computer science </a> - 7.5 credits </li>

                  <li><a href="https://ju.se/en/study-at-ju/courses.html?hidekurstillfalle=yes&courseCode=TTOG18"
                    >Logistics Engineering </a> - 7.5 hp </li>

                  <li><a href="https://ju.se/en/study-at-ju/courses.html?hidekurstillfalle=yes&courseCode=TFKG18"
                    >Research Methods and Communication </a> - 7.5 hp </li>

                  <li><a href="https://ju.se/en/study-at-ju/courses.html?hidekurstillfalle=yes&courseCode=TSSG18"
                    >Principles of Sustainable Supply Chain Management </a> - 7.5 hp </li>

                  <li><a href="https://ju.se/en/study-at-ju/courses.html?hidekurstillfalle=yes&courseCode=TLPG18"
                    >Leadership and Project Management </a> - 7.5 hp</li>

                </ul>
            </div>
              <p class="is-size-4"><b>Background</b></p>
              <p class="is-size-6">
                Prior to my studies I lived in Australia for eight years. Were I lived and worked as a Chef,
                of which a few years as a Head Chef.<br>
                In addition to my studies, I work extra as a Personal Assistant. I am responsible for
                maintaining health care and attention to clients who have difficulties in their
                everyday lives

              </p>
              <p class="is-size-4"><b>Experience</b></p>
              <div class="content">

                <ul class="is-size-6">
                  <li><a
                    href="https://www.jengla.se/"
                    >Jengla Omsorg</a> &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp 2020 - Present
                    </li>
                  <li>Chef/Head Chef &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp
                    &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp 2009 - 2019 </li>
                  <li>Compulsory military service &nbsp &nbsp &nbsp 2010 - 2011 </li>
                </ul>
            </div>
            </article>
          </div>

          <div class="tile is-parent is-vertical">
            <article class="tile is-child notification has-background-light">
              <p class="is-size-4"><b>Contact</b></p>
              <p>
                <a class="is-size-6" href="mailto: jakobtj@hotmail.com">
                  <i class="far fa-envelope is-size-6"
                    >&nbsp jakobtj@hotmail.com</i
                  ></a
                >
              </p>
              <p class="is-size-6">
                <i class="fas fa-phone-square-alt is-size-6"></i>&nbsp
                (+46) 73-999-4751
              </p>
              <br />

              <p class="is-size-4"><b>Skills</b></p>
              <p><i class="fab fa-python"></i>&nbsp Python</p>
              <progress
                class="progress is-success is-small"
                value="45"
                max="100"
              >
                60%
              </progress>

              <p><i class="fab fa-github"></i>&nbsp Version Control</p>
              <progress
                class="progress is-success is-small"
                value="39"
                max="100"
              >
                60%
              </progress>
              <p><i class="fas fa-infinity"></i>&nbsp CI-CD</p>
              <progress
                class="progress is-success is-small"
                value="32"
                max="100"
              >
                60%
              </progress>


              <p><i class="fab fa-linux"></i>&nbsp Linux</p>
              <progress
                class="progress is-success is-small"
                value="28"
                max="100"
              >
                60%
              </progress>
              <p><i class="fas fa-database"></i>&nbsp Databases</p>
              <progress
                class="progress is-success is-small"
                value="25"
                max="100"
              >
                60%
              </progress>

              <p><i class="fab fa-docker"></i>&nbsp Docker</p>
              <progress
                class="progress is-success is-small"
                value="25"
                max="100"
              >
                60%
              </progress>

              <p><i class="fas fa-cloud"></i>&nbsp Cloud computing</p>
              <progress
                class="progress is-success is-small"
                value="24"
                max="100"
              >
                60%
              </progress>
              <div class="content">
                <!-- Content -->
              </div>

            </article>
          </div>
        </div>
      </div>
    </div>
<br><br><br><br><br>

{% endblock %}